$navbarWidth: 100vw;
$bodyWidth: calc(100vh - 80px - 80px - 10px - 20px + 10px);
$footerWidth: 100vw;
$containerWidth: 86.772vw;
$border: #D7D7D7;
$titleFont: 18px;
$buttonColor: #25C325;
$bodyTheme: #F0F6F6;
$sectionColor: #E2E2E2;

