@import "./_variables.scss";
@import "./_fonts.scss";

.title__section {
  width: $containerWidth;
  height: 550px;
  background-color: $sectionColor;
  display: flex;
  justify-content: center;
  align-items: center;

  .left__container {
    width: 47.5%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .left__container__title {
      font-size: $logoFontSize;
      font-family: $logoFont;
    }

    .left__container__text {
      width: 350px;
    }

    .record__btn {
      width: 434px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #c5c4c4;
      border-radius: 5px;
    }
  }

  .right__section {
    width: 47.5%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

.about__section {
  width: $containerWidth;
  height: 550px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-between;

  .background__ball {
    width: 1000px;
    height: 1000px;
    z-index: -10;
    position: absolute;
    top: -30px;
    right: 45vw;
    background-color: rgba(157, 175, 184, 1);
    border-radius: 50%;
  }

  .left__container {
    width: 47.5%;
  }

  .right__container {
    width: 47.5%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;

    .text {
      height: 40%;
      width: 65%;
      margin-right: 5%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }
}

.questions__section {
  padding: 120px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  overflow: scroll;
  background-color: $sectionColor;

  .section__title {
    font-size: $logoFontSize;
    margin-bottom: 50px;
  }

  .questions__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-top: 1px solid black;
    margin-top: 50px;
  }
}

.rewards__section {
  width: $containerWidth;
  height: 700px;
  padding: 50px 0;

  h5 {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $bigFontSize;
    margin: 20px 0;
  }
}

// DEPENDENCY STYLES
